

body{
    font-family: 'Noticia Text', serif;
}

.part-banner{
    width: 80%;
    height: 85vh;
    background-color: rgb(18, 18, 18);
    margin-left: 10%;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
}


.font-style{

    width: 40%;
    color: white;
    margin-top: 35px;
    padding-left: 10%;
    
   
}
.font-style h1{
    font-size: 50px;
    margin-bottom: 0%;
   
}
.font-style p{
    font-size: 15px;
    margin-bottom: 40px;
}
.font-style a{
    background-image: linear-gradient(rgb(248, 8, 8) , Tomato);
    color: white;
    text-decoration: none;
    
}
.button-live{
    
    border-radius: 5px;
    font-size: 100%;
    padding: 10px 30px 10px 20px;
}


.icon-style {
    padding-left: 10px;
    
}
.image-style{
    width: 50%;
    margin-left: 100px;
    margin-top: 45px;
   
}
.image-style img{
        width: 100%;
        margin-left: -50px;
       
} 