

body{
    font-family: 'Noticia Text', serif;
}

.container1{
    width: 80%;
    height: 85vh;
    background-color: rgb(18, 18, 18);
    margin-left: 10%;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
}


.font-style{

    width: 40%;
    color: white;
    margin-top: 35px;
    padding-left: 10%;
    
   
}
.font-style h1{
    font-size: 50px;
    margin-bottom: 0%;
   
}
.font-style p{
    font-size: 15px;
    margin-bottom: 40px;
}
.font-style a{
    background-image: linear-gradient(rgb(248, 8, 8) , Tomato);
    color: white;
    text-decoration: none;
    
}
.button-live{
    
    border-radius: 5px;
    font-size: 100%;
    padding: 10px 30px 10px 20px;
}


.icon-style {
    padding-left: 10px;
    
}
.image-style{
    width: 50%;
    margin-left: 100px;
    margin-top: 51px;
   
}
.image-style img{
        width: 100%;
        margin-left: -50px;
       
} 

.container2{
       width: 100%;
       height: 100%;
       display: flex;
      
       
       
}
/* second-part */


.option-part{
    width: 20%;
    height: 60%;
    margin-top: 10%;
    margin-left: 35px;
    border-radius: 10px;
    background-color: black;
}
.button-style a{
    text-decoration: none;
    color: black;
    
}


.button-decoration h4{
    width: 150px;
    border: 2px;
    background-color: white;
    text-align: center;
    margin-left: 28px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    
}
#blog-style h4{
   
    color: white;
    background-color: red;
  
}


.Blogs{

    width: 80%;
    margin-top:10%;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 3px;
    grid-row-gap: 8px;
} 

.div-modify{
    width: 78%;
    border: 2px solid rgb(232, 226, 226);
    border-radius: 10px;
}
.img-style img{
         width: 237px;
         height: 140px;
         margin-bottom: 15px;
}
.transfer{
    width: 70px;
    height: 30px;
    border: 1px solid grey;
    border-top: -15px;
    border-radius: 5px;
    margin-left: 8px;
}
.transfer h4{
    font-size: 15px;
    color: black;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;

}
.transfer-sub{
    padding-left: 8px;
    text-align: left ;
}
.transfer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-clock{
    font-size: 15px;
    padding-left: 8px;
    padding-bottom: 10px;
}
.hr-style{
    font-size: 15px;
    padding-left: 8px;
}
.comment{
    padding-right: 90px;
    padding-bottom: 10px;
    
}
.icon-comment{
    font-size: 15px;
    justify-content: space-between;
}
.tt-style{

    font-size: 15px;
    padding-right:50px ;
}


